<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actor.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <%- include('./partials/header')  %> 
    <figure class="logo">
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>

    <div class="box_list_genre">
        <p>FIRST NAME: <%= actor.first_name %> </p>
        <p>LAST NAME: <%= actor.last_name %> </p>
        <p>RATING: <%= actor.rating%> </p>
        <p>FAVORITE MOVIE: <%= actor.favorite_movie_id %> </p>
    </div>

</body>
</html>